/* changelog.html */

body {
    font-family: sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s, color 0.5s;
}

h1 {
    text-align: center;
    color: #4CAF50;
    margin-bottom: 30px;
}

.line-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
    display: flex;
    justify-content: center;
}

.icon-image {
    height: 35px;
    width: auto;
    vertical-align: middle;
    cursor: pointer;
}

.log-content {
    white-space: pre-wrap;
    /* 保留换行和空格 */
    word-wrap: break-word;
    /* 自动换行 */
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    line-height: 1.6;
    transition: background-color 0.5s, color 0.5s;
}

.error-message {
    color: red;
    text-align: center;
    font-size: 18px;
}

body.dark-mode {
    background-color: #333;
    color: #ffffffd6;
}

body.dark-mode .container {
    background-color: #3f3f3f;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

body.dark-mode .log-content {
    color: #ffffffd6;
    background-color: #333;
}