/* overview.css */
/* overview.html */

.device-container {
    display: grid;
    gap: 20px;
    padding-bottom: 50px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    margin-top: -30px;
}

.device-card {
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 300px;
    box-sizing: border-box;
    transition: transform 0.5s;
    cursor: pointer;
    margin-top: 10px;
}

.device-card:active {
    transform: translateY(-5px);
}

.device-card h3 {
    margin: 0 0 8px 3px;
    font-size: 18px;
    text-align: left;
    color: orangered;
}

.device-card p {
    margin: 4px 0;
    font-size: 14px;
}

.device-card .card-header {
    display: flex;
    justify-content: space-between;
    /* 标题在左，按钮组在右 */
    align-items: center;
}

.device-card .card-actions {
    display: flex;
    gap: 6px;
    /* 按钮之间的间距 */
}

.device-card .action-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 10px;
    line-height: 24px;
    text-align: center;
    margin: 0px 0px 10px 0px;
    padding: 0;
    vertical-align: middle;
}

.device-card .power-on {
    background-color: #28a745;
    color: white;
}

.device-card .power-off {
    background-color: #ff6666;
    color: white;
}

.device-card .action-btn:active {
    opacity: 0.7;
}

.status-on {
    color: #28a745;
    font-weight: bold;
}

.status-off {
    color: #ff6666;
    font-weight: bold;
}

.status-unknown {
    color: gray;
    font-weight: bold;
}

input[type="submit"],
button {
    width: 80px;
    height: 30px;
}

@media (max-width: 768px) {
    input[type="submit"],
    button {
        font-size: 12px;
        height: 30px;
    }
}

body.dark-mode .device-card {
    background-color: #3f3f3f;
}
body.dark-mode .device-card h3 {
    color: #f9703ddb;
}

@media (hover: hover) {
    .device-card:hover {
        transform: translateY(-5px);
    }

    .device-card .action-btn:hover {
        opacity: 0.7;
    }
}