<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/code.css') }}">
    <script src="{{ url_for('static', filename='js/theme.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/code.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <script src="{{ url_for('static', filename='js/highlight.min.js') }}"></script>
    <script>hljs.highlightAll();</script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/clipboard.min.js') }}"></script>
    <title>代码块</title>
</head>
<body class="dark-mode">
    <div class="line-container no-select">
      <img id="theme-toggle" src="{{ url_for('static', filename='icon-theme.png') }}" alt="PowerControl" class="icon-image"
        title="深色/浅色模式切换">
      <h1>代码</h1>
    </div>

{% raw %}
    <!-- 代码块 -->
    <h3>1、docker-cli：</h3>
    <h5># 默认root用户运行</h5>
    <pre>
        <button class="copy-btn no-select" data-clipboard-target="#code-block-1a">复制代码</button>
        <code id="code-block-1a">
docker run -d -v /your/path:/app/data -e WEB_PORT=7678 -e WEB_KEY=yourkey --network host --restart unless-stopped --name powercontrol viklion/powercontrol:latest
        </code>
    </pre>
    <h5># 设置变量PUID和PGID,指定user运行</h5>
    <pre>
        <button class="copy-btn no-select" data-clipboard-target="#code-block-1b">复制代码</button>
        <code id="code-block-1b">
docker run -d -v /your/path:/app/data -e WEB_PORT=7678 -e WEB_KEY=yourkey -e PUID=1000 -e PGID=100 --network host --restart unless-stopped --name powercontrol viklion/powercontrol:latest
        </code>
    </pre>

    <!-- 代码块 -->
    <h3>2、docker-compose（注意检查缩进）</h3>
    <pre>
        <button class="copy-btn no-select" data-clipboard-target="#code-block-2">复制代码</button>
        <code id="code-block-2">
services:
  powercontrol:
    image: viklion/powercontrol:latest
    container_name: powercontrol
    volumes:
      - /your/path:/app/data
    environment:
      - WEB_PORT=7678
      - WEB_KEY=yourkey
      # 默认root用户运行，去掉下两行的#，设置指定user运行
      #- PUID=1000
      #- PGID=100
    restart: unless-stopped
    network_mode: host
        </code>
    </pre>

    <!-- 代码块 -->
    <h3>3、自定义指令sshpass</h3>
    <pre>
        <button class="copy-btn no-select" data-clipboard-target="#code-block-3a">复制代码</button>
        <code id="code-block-3a">
sshpass -p "登录密码" ssh -p 端口 -o "StrictHostKeyChecking=no" 登录名@192.168.xx.xx "echo 'sudo密码' | sudo -S poweroff"
        </code>
    </pre>
    <h5># 示例：立刻关机</h5>
    <pre>
        <button class="copy-btn no-select" data-clipboard-target="#code-block-3b">复制代码</button>
        <code id="code-block-3b">
sshpass -p "abc123" ssh -p 22 -o "StrictHostKeyChecking=no" viklion@192.168.10.11 "echo 'abc123' | sudo -S poweroff"
        </code>
    </pre>
    <h5># 示例：延迟关机，修改sleep后的秒数</h5>
    <pre>
        <button class="copy-btn no-select" data-clipboard-target="#code-block-3c">复制代码</button>
        <code id="code-block-3c">
sshpass -p "abc123" ssh -p 22 -o "StrictHostKeyChecking=no" viklion@192.168.10.11 "echo 'abc123' | sudo -S sleep 30 && echo 'abc123' | sudo -S poweroff"
        </code>
    </pre>

    <!-- 代码块 -->
    <h3>4、homeassistant configuration.yaml（注意检查缩进）</h3>
    <pre>
        <button class="copy-btn no-select" data-clipboard-target="#code-block-4">复制代码</button>
        <code id="code-block-4">
shell_command:
  ha_wol_pc: "curl http://192.168.2.75:1856/wol/设备id或设备别名?key=1111"
  ha_shutdown_pc: "curl http://192.168.2.75:1856/shutdown/设备id或设备别名?key=1111"

input_text:
  powercontrol_state:
    name: powercontrol_state
    initial: "off"

sensor:
  - platform: rest
    name: "powercontrol_pc_state"
    resource: "http://192.168.2.75:1856/ping/设备id或设备别名?key=1111"
    method: GET
    scan_interval: 60
    value_template: "{{ value_json.device_status }}"

switch:
  - platform: template
    switches:
      my_pc:
        friendly_name: "电脑"
        unique_id: "my_pc_001"
        icon_template: mdi:desktop-tower-monitor
        value_template: "{{ states('input_text.powercontrol_state') == 'on' }}"
        turn_on:
          - action: shell_command.ha_wol_pc
          - action: input_text.set_value
            target:
              entity_id: input_text.powercontrol_state
            data:
              value: "on"
        turn_off:
          - action: shell_command.ha_shutdown_pc
          - action: input_text.set_value
            target:
              entity_id: input_text.powercontrol_state
            data:
              value: "off"
        </code>
    </pre>

    <!-- 代码块 -->
    <h3>5、homeassistant automations.yaml（注意检查缩进）</h3>
    <pre>
        <button class="copy-btn no-select" data-clipboard-target="#code-block-5">复制代码</button>
        <code id="code-block-5">
- id: '20250108'
  alias: 更新电脑在线状态
  triggers:
    - trigger: time_pattern
      minutes: "/1"
  conditions:
    - condition: template
      value_template: "{{ states('sensor.powercontrol_pc_state') != states('input_text.powercontrol_state') }}"
  actions:
    - action: input_text.set_value
      target:
        entity_id: input_text.powercontrol_state
      data:
        value: "{{ states('sensor.powercontrol_pc_state') }}"
        </code>
    </pre>
{% endraw %}
</body>
</html>