<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sweetalert.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/config.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <script src="{{ url_for('static', filename='js/theme.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/sweetalert.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/config.main.js') }}" defer></script>
    <script>
        const DEVICE_ID = "{{ device_id }}";
    </script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>PowerControl全局配置页</title>
</head>

<body class="dark-mode">
    <div class="head-container-wrapper no-select">
        <!-- 左侧模糊提示 -->
        <div class="blur-left"></div>
        <div class="head-container">
            <a>
                <img id="theme-toggle" src="{{ url_for('static', filename='icon.png') }}" alt="PowerControl"
                    class="icon-image" title="深色/浅色模式切换">
            </a>
            <a id="main" class="textlink" target="_blank">总览</a>
            <a id="github" class="textlink" href="https://github.com/viklion/PowerControl" target="_blank">github</a>
            <a id="pdf" class="textlink" href="/pdf" target="_blank">pdf教程</a>
            <a id="video" class="textlink" href="https://www.bilibili.com/video/BV1cykZY7Er9" target="_blank">视频教程</a>
            <a id="changelog" class="textlink" href="/changelog" target="_blank">更新日志</a>
            <a id="code" class="textlink" href="/code" target="_blank">复制代码</a>
            <a id="logs" class="textlink" target="_blank">操作日志</a>
        </div>
        <!-- 右侧模糊提示 -->
        <div class="blur-right"></div>
    </div>
    <div style="margin-left: 20px; margin-right: 20px;">
        <h1>PowerControl {{ VERSION }}<br>
            <small>全局配置</small>
        </h1>
        <h3>by viklion</h3>
        <p style="margin-bottom: -20px;">[{{ device_name }}]</p>
        <p style="margin-bottom: -20px;">[ID:{{ device_id }}]</p>
        <br>
        <p style="margin-bottom: -20px;">{{ run_time }}</p>
        <br>
        <div id="flash-messages">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li style="margin-top: 10px;">{{ message | replace('\n', '<br>')| safe }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        <div class="line-container no-select" style="margin-top: 16px; margin-bottom: 26px;">
            <input type="submit" value="保存" onclick="submit_pcconfig()">
        </div>
        <form id="pcconfig" method="post">
            <h2>日志：</h2>
            日志等级：
            <select class="input-label" name="log.level">
                <option value="DEBUG" {% if config.log.level|upper=="DEBUG" %}selected{% endif %}>DEBUG</option>
                <option value="INFO" {% if config.log.level|upper=="INFO" %}selected{% endif %}>INFO</option>
                <option value="WARNING" {% if config.log.level|upper=="WARNING" %}selected{% endif %}>WARNING</option>
                <option value="ERROR" {% if config.log.level|upper=="ERROR" %}selected{% endif %}>ERROR</option>
            </select>
            <span class="tooltip no-select">❔︎
                <span class="tooltiptext">日志等级:调试选DEBUG,平常选INFO</span>
            </span>
            <br>
            <hr class="dashed-hr">
            保留天数： <input class="input-label" type="number" name="log.keep_days" value="{{ config.log.keep_days }}" min="0" step="1" title="0：只保留当天日志文件（每天0点轮替）" placeholder="0:只保留当天日志文件（每天0点轮替）">
            <span class="tooltip no-select">❔︎
                <span class="tooltiptext">0:只保留当天日志文件(每天0点轮替)</span>
            </span>
            <br>
            <h2>推送：</h2>
            <div class='line-container'>
                启用消息推送： <input id="push_enabled" class="checkbox-label" type="checkbox" name="message.enabled" value="True" {% if config['message']['enabled'] %} checked{% endif %} data-target='pushconfig'>
                <label for="push_enabled"></label>
                <a id="go_push" class="textlink no-select" target="_blank">➔测试消息推送</a>
            </div>
            <div id='pushconfig' class='hidden'>
                <hr class="dashed-hr">
                <div class='line-container'>
                    巴法断线重连推送： <input id="bemfa_reconnect_enabled" class="checkbox-label" type="checkbox" name="message.bemfa_reconnect" value="True" {% if config['message']['bemfa_reconnect'] %} checked{% endif %}>
                    <label for="bemfa_reconnect_enabled"></label>
                </div>
                <hr class="dashed-hr">
                <div class='line-container'>
                    Server酱Turbo： <input id="serverchanturbo_enabled" class="checkbox-label" type="checkbox" name="message.ServerChan_turbo.enabled" value="True" {% if config['message']['ServerChan_turbo']['enabled'] %} checked{% endif %} data-target='serverchan_turboconfig'>
                    <label for="serverchanturbo_enabled"></label>
                    <a id="go_serverchanturbo" class="textlink no-select" href="https://sct.ftqq.com/sendkey"
                        target="_blank">➔前往Server酱Turbo</a>
                </div>
                <div id='serverchan_turboconfig' class='hidden'>
                    SendKey： <input class="input-label" type="text" name="message.ServerChan_turbo.SendKey"
                        value="{{ config.message.ServerChan_turbo.SendKey }}" placeholder="SCTXXXXXXXXXX"><br>
                    消息通道： <input class="input-label" type="text" name="message.ServerChan_turbo.channel"
                        value="{{ config.message.ServerChan_turbo.channel }}" placeholder="默认:9(微信服务号)">
                        <span class="tooltip no-select">❔︎
                            <span class="tooltiptext">具体查看Server酱的通道说明,默认:9(微信服务号)</span>
                        </span>
                        <br>
                </div>
                <hr class="dashed-hr">
                <div class='line-container'>
                    Server酱3： <input id="serverchan3_enabled" class="checkbox-label" type="checkbox"
                        name="message.ServerChan3.enabled" value="True" {% if
                        config['message']['ServerChan3']['enabled'] %} checked{% endif %}
                        data-target='serverchan3config'>
                    <label for="serverchan3_enabled"></label>
                    <a id="go_serverchan3" class="textlink no-select" href="https://sc3.ft07.com/" target="_blank">➔前往Server酱3</a>
                </div>
                <div id='serverchan3config' class='hidden'>
                    SendKey： <input class="input-label" type="text" name="message.ServerChan3.SendKey"
                        value="{{ config.message.ServerChan3.SendKey }}" placeholder="sctpXXXXXXXXX"><br>
                </div>
                <hr class="dashed-hr">
                <div class='line-container'>
                    Qmsg酱： <input id="qmsg_enabled" class="checkbox-label" type="checkbox"
                        name="message.Qmsg.enabled" value="True" {% if
                        config['message']['Qmsg']['enabled'] %} checked{% endif %} data-target='qmsgconfig'>
                    <label for="qmsg_enabled"></label>
                    <a id="go_qmsg" class="textlink no-select" href="https://qmsg.zendee.cn/" target="_blank">➔前往Qmsg酱</a>
                </div>
                <div id='qmsgconfig' class='hidden'>
                    Key： <input class="input-label" type="text" name="message.Qmsg.key"
                        value="{{ config.message.Qmsg.key }}"><br>
                    QQ： <input class="input-label" type="number" name="message.Qmsg.qq"
                        value="{{ config.message.Qmsg.qq }}"><br>
                </div>
                <hr class="dashed-hr">
                <div class='line-container'>
                    Gotify： <input id="gotify_enabled" class="checkbox-label" type="checkbox" name="message.Gotify.enabled" value="True" {% if config['message']['Gotify']['enabled'] %} checked{% endif %} data-target='gotifyconfig'>
                    <label for="gotify_enabled"></label>
                    <a id="go_gotify" class="textlink no-select" href="{{ config.message.Gotify.url }}" target="_blank" title="填写完URL保存后,点击可跳转Gotify">➔前往Gotify</a>
                    <br>
                </div>
                <div id='gotifyconfig' class='hidden'>
                    URL： <input class="input-label" type="text" name="message.Gotify.url" value="{{ config.message.Gotify.url }}" title="例:http://192.168.10.10:8087,勿省略http(s)://" placeholder="例:http://192.168.10.10:8087,勿省略http(s)://">
                    <span class="tooltip no-select">❔︎
                        <span class="tooltiptext">'http://ip:端口',勿省略'http(s)://'，填写完保存后点击前往Gotify可跳转Gotify</span>
                    </span>
                    <br>
                    Token： <input class="input-label" type="text" name="message.Gotify.token" value="{{ config.message.Gotify.token }}" title="APPS中创建的token" placeholder="APPS中创建的token">
                    <span class="tooltip no-select">❔︎
                        <span class="tooltiptext">APPS中创建的token</span>
                    </span>
                    <br>
                </div>
                <hr class="dashed-hr">
                <div class='line-container'>
                    PushPlus： <input id="pushplus_enabled" class="checkbox-label" type="checkbox" name="message.PushPlus.enabled" value="True" {% if config['message']['PushPlus']['enabled'] %} checked{% endif %} data-target='pushplusconfig'>
                    <label for="pushplus_enabled"></label>
                    <a id="go_pushplus" class="textlink no-select" href="https://www.pushplus.plus/push1.html" target="_blank">➔前往PushPlus</a>
                    <br>
                </div>
                <div id='pushplusconfig' class='hidden'>
                    Token： <input class="input-label" type="text" name="message.PushPlus.token" value="{{ config.message.PushPlus.token }}"><br>
                </div>
                <hr class="dashed-hr">
                <div class='line-container'>
                    Bark： <input id="bark_enabled" class="checkbox-label" type="checkbox" name="message.Bark.enabled" value="True"
                        {% if config['message']['Bark']['enabled'] %} checked{% endif %} data-target='barkconfig'>
                    <label for="bark_enabled"></label>
                    <a id="go_bark" class="textlink no-select" href="https://bark.day.app/#/?id=bark" target="_blank">➔前往Bark</a>
                    <br>
                </div>
                <div id='barkconfig' class='hidden'>
                    URL： <input class="input-label" type="text" name="message.Bark.url" value="{{ config.message.Bark.url }}"
                        title="例:https://api.day.app,勿省略http(s)://" placeholder="例:https://api.day.app,勿省略http(s)://">
                    <span class="tooltip no-select">❔︎
                        <span class="tooltiptext">服务地址，官方(https://api.day.app)或自建，勿省略http(s)://</span>
                    </span>
                    <br>
                    Key： <input class="input-label" type="text" name="message.Bark.key" value="{{ config.message.Bark.key }}"
                        title="Bark app中查看服务器的Key" placeholder="Bark app中查看服务器的Key">
                    <span class="tooltip no-select">❔︎
                        <span class="tooltiptext">Bark app中查看服务器的Key</span>
                    </span>
                    <br>
                </div>
                <hr class="dashed-hr">
                <div class='line-container'>
                    企业微信群机器人： <input id="wechat_webhook_enabled" class="checkbox-label" type="checkbox"
                        name="message.WeChat_webhook.enabled" value="True" {% if config['message']['WeChat_webhook']['enabled'] %}
                        checked{% endif %} data-target='wechat_webhook_config'>
                    <label for="wechat_webhook_enabled"></label>
                    <a id="go_wechat_webhook" class="textlink no-select" href="https://open.work.weixin.qq.com/help2/pc/14931"
                        target="_blank">➔前往企业微信群机器人</a>
                </div>
                <div id='wechat_webhook_config' class='hidden'>
                    Webhook地址： <input class="input-label" type="text" name="message.WeChat_webhook.url"
                        value="{{ config.message.WeChat_webhook.url }}"
                        placeholder="https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=xxxxxxx"><br>
                </div>
                <hr class="dashed-hr">
                <div class='line-container'>
                    企业微信应用： <input id="wechat_app_enabled" class="checkbox-label" type="checkbox" name="message.WeChat_app.enabled" value="True"
                        {% if config['message']['WeChat_app']['enabled'] %} checked{% endif %} data-target='wechat_appconfig'>
                    <label for="wechat_app_enabled"></label>
                    <a id="go_wechat_app" class="textlink no-select" href="https://work.weixin.qq.com" target="_blank">➔前往企业微信</a>
                    <br>
                </div>
                <div id='wechat_appconfig' class='hidden'>
                    企业ID： <input class="input-label" type="text" name="message.WeChat_app.corpid" value="{{ config.message.WeChat_app.corpid }}" title="我的企业→企业ID" placeholder="我的企业→企业ID">
                    <span class="tooltip no-select">❔︎
                        <span class="tooltiptext">我的企业→企业ID</span>
                    </span>
                    <br>
                    应用AgentId： <input class="input-label" type="text" name="message.WeChat_app.agentid" value="{{ config.message.WeChat_app.agentid }}" title="应用AgentId" placeholder="应用AgentId"><br>
                    应用Secret： <input class="input-label" type="text" name="message.WeChat_app.secret"
                        value="{{ config.message.WeChat_app.secret }}" title="应用Secret" placeholder="应用Secret"><br>
                </div>
            </div>
            <hr class="default-hr">
            <div class="line-container no-select">
                <input type="submit" value="保存">
            </div>
        </form>
    </div>
</body>

</html>