<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/config.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/overview.css') }}">
    <script src="{{ url_for('static', filename='js/theme.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/overview.js') }}" defer></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>PowerControl设备总览页</title>
</head>
<body class="dark-mode">
    <div class="head-container-wrapper">
        <!-- 左侧模糊提示 -->
        <div class="blur-left"></div>
        <div class="head-container">
            <a>
                <img id="theme-toggle" src="{{ url_for('static', filename='icon.png') }}" alt="PowerControl"
                    class="icon-image" title="深色/浅色模式切换">
            </a>
            <a id="main" class="textlink" target="_blank">总览</a>
            <a id="github" class="textlink" href="https://github.com/viklion/PowerControl" target="_blank">github</a>
            <a id="pdf" class="textlink" href="/pdf" target="_blank">pdf教程</a>
            <a id="video" class="textlink" href="https://www.bilibili.com/video/BV1cykZY7Er9" target="_blank">视频教程</a>
            <a id="changelog" class="textlink" href="/changelog" target="_blank">更新日志</a>
            <a id="code" class="textlink" href="/code" target="_blank">复制代码</a>
            <a id="logs" class="textlink" target="_blank">操作日志</a>
        </div>
        <!-- 右侧模糊提示 -->
        <div class="blur-right"></div>
    </div>
    <div style="margin-left: 20px; margin-right: 20px;">
        <h1>PowerControl设备总览<br>
            <small>{{ VERSION }}</small>
        </h1>
        <h3>by viklion</h3>
        <br>
        <p style="margin-bottom: -20px;">{{ run_time }}</p>
        <br>
        <div id="flash-messages">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li style="margin-top: 10px;">{{ message | replace('\n', '<br>')| safe }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        <div class="line-container" style="margin-top: 16px; margin-bottom: 26px;">
            <button id="new_device_top_btn" type="button">新建设备</button>
            <button id="start_all_top_btn" type="button">全部启动</button>
            <button id="stop_all_top_btn" type="button">全部停止</button>
            <button id="restart_all_top_btn" type="button">全部重启</button>
            <button id="restart_container_top_btn" type="button">重启容器</button>
        </div>
        <div class="device-container" id="deviceContainer">
            <!-- 设备卡片会由 JS 动态生成 -->
        </div>
    </div>
</body>
</html>